.paginate-container {
    width: 100%;
}

.paginate {
    display: flex;
    gap: 5px;
    padding: 0;
    list-style: none;
    justify-content: center;
    & > li > a {
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
            background-color: #eee;
            border-radius: 25%;
        }
    }
}

.active-page {
    & > a {
        background-color: #ccc;
        border-radius: 25%;
    }
}